/* Hier hoef je niks mee te doen */
*{
    font-size:0;
}

#container{
    width: 800px;
    height: 500px;
    background-color: blanchedalmond;
    border: 1px solid black;
}

/* Hieronder kun je gaan editen */

#bovenkant{
    width: 800px;
    height: 50%;
    background-color: yellow;
}
#midden{
    width:800px;
    height: 25%;
    background-color: rgb(0, 78, 194);
}

#onderkant{
    width: 800px;
    height: 25%;
    background-color: rgb(255, 0, 0);
}

