
.container{
    display: flex;
    
}

.col{
    margin: 2px;
}

.button{
    width: 300px;
    height: 200px;
    background-color: rgb(255, 0, 106);
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.button span{
    
    font-size: 2em;
    font-family: consolas;
}
#sixteen{
    background-color: orange;
}
#seventeen{
    background-color: blue;
}
#eighteen{
    background-color: gold;
}
#nineteen{
    background-color: green;
}
#anything{
    background-color: hotpink;
}
.tableColors {
    border: 1px solid black;
  }