/* Hier hoef je niks mee te doen */
*{
    font-size:0;
}

#container{
    width: 800px;
    height: 500px;
    background-color: blanchedalmond;
    border: 1px solid black;
}

/* Hieronder kun je gaan editen */

#one{
    width: 200px;
    height: 25%;
    background-color: rgb(255, 0, 0);
}
#two{
    width: 200px;
    height: 25%;
    background-color: rgb(255, 0, 0);
}
#three{
    width: 200px;
    height: 25%;
    background-color: rgb(255, 0, 0);
}
#four{
    width: 200px;
    height: 25%;
    background-color: rgb(255, 0, 0);
}

