/* Hier hoef je niks mee te doen */
*{
    font-size:0;
}

#container{
    width: 800px;
    height: 500px;
    background-color: blanchedalmond;
    border: 1px solid black;
    display:flex;
        flex-direction: row-reverse;
}

/* Hieronder kun je gaan editen */

#links{
    display: inline-block;
    width: 60%;
    height: 100%;
    background-color: rgb(35, 156, 24);
}
#rechtsboven{
    
    width: 600px;
    height: 50%;
    background-color: rgb(255, 251, 0);
}
#rechtsonder{
    width: 600px;
    height: 50%;
    background-color: rgb(255, 0, 0);
}
